---
import BaseLayout from '../layouts/BaseLayout.astro';
import ActivityWidget from "../components/ActivityWidget.astro";
import ViewCounter from "../components/ViewCounter.astro";
import SocialsWidget from "../components/SocialsWidget.astro";
import ProjectsFeature from "../components/ProjectsFeature.astro";

const title = 'Home';
const description = 'My little corner of the internet.';
const permalink = Astro?.site?.href ?? '/';
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <div>
        <h1>Welcome to my little corner of the interwebs</h1>
        <p>Feel free to check out what I got in store!</p>
      </div>
    </div>
    <div style="width: 100%;">
      <ActivityWidget />
      <ViewCounter/>
    </div>
    <SocialsWidget />
    <ProjectsFeature />
  </div>
</BaseLayout>

<style lang="scss">
  .home-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 0;
    gap: 2rem;

    .home-copy {
      flex: 1;
      display: flex;
      flex-direction: row;
      padding: 0 1em;

      h1 {
        font-weight: 700;
        margin-bottom: 0.5em;
        line-height: 1.3;
        font-size: 2rem;
        text-align: center;
      }

      p {
        text-align: center;
        font-size: 1.2rem;
      }
    }

  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }

</style>


<script>
  let task = -1;

  updateOnlineStatus();

  async function updateOnlineStatus() {
    clearTimeout(task);
    const status = document.querySelector("#online-status");
    const game = document.querySelector("#online-game");
    const world = document.querySelector(".world");
    if (!status || !game) return;
    console.debug("Updating online status...");
    const response = await fetch("https://api.youhavetrouble.me/online");
    const data = await response.json();
    const online = data.discord !== "OFFLINE" || data.steam !== "OFFLINE";
    const gameName = data.steam.game;
    status.textContent = online ? "Online" : "Offline";
    status.classList.value = online ? "online" : "offline";
    game.textContent = gameName ? `Playing: ${gameName}` : "";
    if (world) {
      if (!online) {
        world.classList.add("night");
      } else {
        world.classList.remove("night");
      }
    }
    setTimeout(updateOnlineStatus, 5000);
  }
</script>
