<style>

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }

</style>

<a href="/">
  <img alt="Logo displaying a stylized character with brown hair wearing purple hoodie on a light blue circle background" src="/assets/yht_logo.png" width="50px" height="50px" />
</a>
